@font-face  
  font-family: 'icomoon' 
  src:  url('../fonts/icomoon.eot?6wfh27') 
  src:  url('../fonts/icomoon.eot?6wfh27#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6wfh27') format('truetype'),
    url('../fonts/icomoon.woff?6wfh27') format('woff'),
    url('../fonts/icomoon.svg?6wfh27#icomoon') format('svg') 
  font-weight: normal 
  font-style: normal 
 

[class^="icon-"], [class*=" icon-"]  
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important 
  speak: none 
  font-style: normal 
  font-weight: normal 
  font-variant: normal 
  text-transform: none 
  line-height: 1 

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased 
  -moz-osx-font-smoothing: grayscale 
 

.icon-add_circle:before  
  content: "\e90c" 
 
.icon-arrow_lift:before  
  content: "\e903" 
 
.icon-check_circle:before  
  content: "\e905" 
 
.icon-close:before  
  content: "\e906" 
 
.icon-favorite:before  
  content: "\e907" 
 
.icon-keyboard_arrow_right:before  
  content: "\e904" 
 
.icon-remove_circle_outline:before  
  content: "\e908" 
 
.icon-shopping_cart:before  
  content: "\e909" 
 
.icon-thumb_down:before  
  content: "\e90a" 
 
.icon-thumb_up:before  
  content: "\e90b" 
 
.icon-home:before  
  content: "\e900" 
 
.icon-home2:before  
  content: "\e901" 
 
.icon-home3:before  
  content: "\e902" 
 
.icon-images:before  
  content: "\e90e" 
 
.icon-camera:before  
  content: "\e90f" 
 
.icon-music:before  
  content: "\e911" 
 
.icon-pacman:before  
  content: "\e916" 
 
.icon-bullhorn:before  
  content: "\e91a" 
 
.icon-mic:before  
  content: "\e91e" 
 
.icon-book:before  
  content: "\e91f" 
 
.icon-file-text:before  
  content: "\e922" 
 
.icon-profile:before  
  content: "\e923" 
 
.icon-copy:before  
  content: "\e92c" 
 
.icon-stack:before  
  content: "\e92e" 
 
.icon-cart:before  
  content: "\e93a" 
 
.icon-envelop:before  
  content: "\e945" 
 
.icon-location:before  
  content: "\e947" 
 
.icon-alarm:before  
  content: "\e950" 
 
.icon-mobile:before  
  content: "\e958" 
 
.icon-users:before  
  content: "\e972" 
 
.icon-spinner6:before  
  content: "\e97f" 
 
.icon-spinner7:before  
  content: "\e980" 
 
.icon-stats-dots:before  
  content: "\e99b" 
 
.icon-stats-bars:before  
  content: "\e99c" 
 
.icon-trophy:before  
  content: "\e99e" 
 
.icon-truck:before  
  content: "\e9b0" 
 
.icon-clipboard:before  
  content: "\e9b8" 
 
.icon-earth:before  
  content: "\e9ca" 
 
.icon-sun:before  
  content: "\e9d4" 
 
.icon-star-half:before  
  content: "\e9d8" 
 
.icon-star-full:before  
  content: "\e9d9" 
 
.icon-heart:before  
  content: "\e9da" 
 
.icon-heart-broken:before  
  content: "\e9db" 
 
.icon-man-woman:before  
  content: "\e9de" 
 
.icon-cross:before  
  content: "\ea0f" 
 
.icon-checkmark:before  
  content: "\ea10" 
 
.icon-enter:before  
  content: "\ea13" 
 
.icon-exit:before  
  content: "\ea14" 
 
.icon-dribbble:before  
  content: "\eaa7" 
 
.icon-onedrive:before  
  content: "\eaaf" 
 
.icon-windows8:before  
  content: "\eac2" 
 
.icon-safari:before  
  content: "\eadd" 
 
